backend/n8n_email_workflow.json
{
  "name": "GrowthDesk — Email Outreach",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "growthdesk-email",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-email",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.body.senderEmail || 'noreply@growthdesk.ai' }}",
        "toEmail": "={{ $json.body.clientEmail }}",
        "subject": "={{ 'Message from ' + ($json.body.businessName || $json.body.senderName || 'GrowthDesk') }}",
        "emailType": "text",
        "text": "={{ $json.body.draftText + '\\n\\n---\\nSent via GrowthDesk AI' }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [460, 300],
      "credentials": { "smtp": { "id": "1", "name": "SMTP account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Email sent\" }"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Send Email": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
